.topic-section {
  width: 100%;
  height: 60rem;
  background-color: #fec900;
  padding: 5rem;
  margin-top: 30rem;
  .flex-class {
    gap: 4rem;
    .topic-texts {
      padding: 4rem;
      .abc {
        position: absolute;
        margin-top: -20rem;
        width: 20rem;
      }
      h1 {
        width: 45rem;
        font-size: 5rem;
        color: #000;
      }
      p {
        width: 50rem;
        margin-top: 3rem;
        font-size: 2.3rem;
        line-height: 3rem;
        color: #2f4649;
      }
      .my1 {
        width: 13rem;
        position: absolute;
        margin-top: -9rem;
        margin-left: -17rem;
      }
      .my2 {
        margin-top: 1rem;
        margin-left: 46rem;
        width: 17rem;
        transform: rotate(90deg);
        position: absolute;
      }
    }
    .topic {
      width: 53rem;
      margin-top: -13rem;
      margin-left: 3rem;
    }
  }
}

@media (max-width: 480px) {
  .topic-section {
    height: 120rem;
    .flex-class {
      flex-direction: column;
      .topic-texts {
        margin-left: -9rem;
        h1 {
          text-align: center;
          font-size: 3rem;
          width: 35rem;
        }
        p {
          text-align: center;
          width: 35rem;
        }
      }
      .topic {
        margin-top:  0;
        margin-left: -4rem;
        width: 35rem;
      }
    }
    .img1,
    .img2,
    .img3 {
      display: none;
    }
  }
}
